<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<title th:text="${user.username} + ' - Ürün Listesi' " ></title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<link href="/css/background.css" rel="stylesheet"/>
<link href="/css/tablestyle.css" rel="stylesheet"/>
<link href="/css/header.css" rel="stylesheet"/>
</head>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

	<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
		<a class="navbar-brand" href="/">Ürün Deposu</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" href="/">Ana Sayfa

				</a></li>

				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#"
					id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false"> Ürün İşlemleri </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="/items/add">Ürün Ekleme</a> <a
							class="dropdown-item" href="/items">Ürün Listeleme</a>
					</div></li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#"
					id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false">Üye İşlemleri </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="/users">Üye Listesi Görüntüleme</a>
					</div></li>
			</ul>
		</div>
		<div class="justify-content end">


			<form th:action="@{/logout}" th:method="post">
				<button type="button submit" class="btn btn-outline-danger">Çıkış</button>
			</form>
		</div>
	</nav>
</body>


<div class=container>
	<h2 class="text-center" th:text="${user.username} + ' Kullanıcısının Ürünleri' " ></h2>
	<div class="text-center" th:each="entry : ${items}" th:with="itemList=${entry.value}">
		<p><strong th:text="${entry.key} + ' adedi: ' + ${itemList.size()}"></strong></p>
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Ürün Kodu</th>
					<th scope="col">Ürün Adı</th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="item : ${itemList}">
					<th th:text="${item.id}" scope="row"></th>
					<td th:text="${item.code}"></td>
					<td th:text="${item.itemType}"></td>
				
				</tr>
				
			</tbody>
		</table>
		<hr>
	</div>

</div>
</html>